$fuente: "Raleway", sans-serif;
// Colores
$light-blue: #29a7f0;
$light-white: #f4f3f3;

// Tarea en curso
$red: #9c1928;
$light-red: #bd5d69;
$bg-red: rgba(128, 0, 0, 0.1);

// Tarea completa
$green: rgba(9, 129, 75, 0.925);
$light-green: #59af88;
$bg-green: rgba(0, 128, 0, 0.1);
